

<!doctype html>
<html lang="en">
<head>
    <title>TravOre</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900|Rubik:300,400,700" rel="stylesheet">

    <link rel="stylesheet" href="~/assets/css/bootstrap.css">
    <link rel="stylesheet" href="~/assets/css/animate.css">
    <link rel="stylesheet" href="~/assets/css/owl.carousel.min.css">

    <link rel="stylesheet" href="~/assets/fonts/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="~/assets/fonts/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/css/magnific-popup.css">

    <!-- Theme Style -->
    <link rel="stylesheet" href="~/assets/css/style.css">



    <!-- CSS Files -->





    <link rel="stylesheet" type="text/css" href="~/assets/styles/main_styles.css">
    <link rel="stylesheet" type="text/css" href="~/assets/styles/responsive.css">

</head>
<body>

    <header role="banner">

        <nav class="navbar navbar-expand-md navbar-dark bg-light">
            <div class="container">
                <a class="navbar-brand" href="about.html">TravOre</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse navbar-light" id="navbarsExample05">
                    <ul class="navbar-nav ml-auto pl-lg-5 pl-0">
                        <li class="nav-item">
                            <a class="nav-link" href="~/Home/Signup">Register</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="rooms.html" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Contact Us</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown04">
                                <a class="dropdown-item">beingsafina@gmail.com</a>
                                <a class="dropdown-item">toobanaseer3@gmail.com</a>
                                <a class="dropdown-item">hinamaqsood378@gmail.com</a>
                            </div>

                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/Home/Login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="#story">About</a>
                        </li>

                    </ul>

                </div>
            </div>
        </nav>
    </header>
    <!-- END header -->

    <section class="site-hero site-hero-innerpage overlay" data-stellar-background-ratio="0.5" style="background : url('http://localhost:50617/assets/images/pic1.jpg');" >
        <div class="container">
            <div class="row align-items-center site-hero-inner justify-content-center">
                <div class="col-md-12 text-center">

                    <div class="mb-5 element-animate">
                        <h1>Welcome to TravOre</h1>
                        <p>Discover Best Hotels of Lahore</p>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- END section -->


    <br><br>

    <div class="search fit">


        <!-- Search Contents -->

        <div class="container fill_height">
            <div class="row fill_height">
                <div class="col fill_height">


                    <!-- Search Panel -->

                    <div class="search_panel active">
                        <form action="#" id="search_form_1" class="search_panel_content d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-between justify-content-start">
                            <div class="search_item">
                                <div>destination</div>
                                <input type="text" class="destination search_input" required="required">
                            </div>
                            <div class="search_item">
                                <div>check in</div>
                                <input type="text" class="check_in search_input" placeholder="YYYY-MM-DD">
                            </div>
                            <div class="search_item">
                                <div>check out</div>
                                <input type="text" class="check_out search_input" placeholder="YYYY-MM-DD">
                            </div>
                            <div class="search_item">
                                <div>adults</div>
                                <select name="adults" id="adults_1" class="dropdown_item_select search_input">
                                    <option>01</option>
                                    <option>02</option>
                                    <option>03</option>
                                </select>
                            </div>
                            <div class="search_item">
                                <div>children</div>
                                <select name="children" id="children_1" class="dropdown_item_select search_input">
                                    <option>0</option>
                                    <option>02</option>
                                    <option>03</option>
                                </select>
                            </div>
                            <button class="button search_button">search<span></span><span></span><span></span></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="search fit">
        <div class="container fill_height">
            <div class="row fill_height">
                <div class="col fill_height">

                    <!-- Search Panel -->

                    <div class="search_panel active">
                        <form action="#" id="search_form_1" class="search_panel_content d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-between justify-content-start">



                            <div class="search_item">
                                <div>Price</div>
                                <select name="adults" id="adults_1" class="dropdown_item_select search_input">
                                    <option>Rs 4000 - 6000</option>
                                    <option>Rs 6001 - 8000</option>
                                    <option>Rs 8001 - 10000</option>
                                    <option>Rs 10001 - 12000</option>
                                    <option>Rs 12001 - 15000</option>
                                    <option>Rs 15001 - 20000</option>
                                </select>
                            </div>



                            <div class="search_item">
                                <div>Ratings</div>
                                <select name="adults" id="adults_1" class="dropdown_item_select search_input">
                                    <option>1 Star</option>
                                    <option>2 Star</option>
                                    <option>3 Star</option>
                                    <option>4 Star</option>
                                    <option>5 Star</option>
                                </select>
                            </div>
                            <div class="search_item">
                                <div>Facilities</div>
                                <select name="children" id="children_1" class="dropdown_item_select search_input">
                                    <option>Free Wifi</option>
                                    <option>Swimming Pool</option>
                                    <option>Car Park</option>
                                    <option>Free Breakfast</option>
                                    <option>Private Parking</option>
                                    <option>Play Land</option>
                                </select>
                            </div>
                            <button class="button search_button">filter<span></span><span></span><span></span></button>
                        </form>
                    </div>


                </div>
            </div>
        </div>
    </div>

    <br><br>
    <div class="content boxCenter">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <form>



                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <h2 style="color:#ff6600 "><b><font face="Comic Sans MS">Pearl continental</font></b></h2><br>
                                        <h4 style="color:#ff6600 "><font face="Bookman">Category:</font></h4><br>
                                        <h4 style="color:#ff6600 "><font face="Bookman">Reviews:</font></h4><br>
                                        <h4 style="color:#ff6600 "><font face="Bookman">Address:</font></h4><br>

                                        <button class="button search_button1"><a href="http://www.pchotels.com/pclahore/">View Deal</a></button>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br><br>
    <div class="content boxCenter">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <form>



                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label><h2 style="color:#ff6600 "><b><font face="Comic Sans MS">Avari Hotel</font></b></h2></label><br>
                                        <label><h4 style="color:#ff6600 "><font face="Bookman">Category:</font></h4></label><br>
                                        <label><h4 style="color:#ff6600 "><font face="Bookman">Reviews:</font></h4></label><br>
                                        <label><h4 style="color:#ff6600 "><font face="Bookman">Address:</font></h4></label><br>

                                        <button class="button search_button1"><a href="http://www.pchotels.com/pclahore/">View Deal</a></button>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <br><br>
    <div class="content boxCenter">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <form>



                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label><h2 style="color:#ff6600 "><b><font face="Comic Sans MS">Flatties Hotel</font></b></h2></label><br>
                                        <label style="color:#ff6600"><h4 style="color:#ff6600 "><font face="Bookman">Category:</font></h4></label><br>
                                        <label><h4 style="color:#ff6600 "><font face="Bookman">Reviews:</font></h4></label><br>
                                        <label><h4 style="color:#ff6600 "><font face="Bookman">Address:</font></h4></label><br>

                                        <button class="button search_button1"><a href="http://www.pchotels.com/pclahore/">View Deal</a></button>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <br><br>
    <div class="content boxCenter">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <form>



                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label><h2 style="color:#ff6600 "><b><font face="Comic Sans MS">HolidayInn Hotel</font></b></h2></label><br>
                                        <label><h4 style="color:#ff6600 "><font face="Bookman">Category:</font></h4></label><br>
                                        <label><h4 style="color:#ff6600 "><font face="Bookman">Reviews:</font></h4></label><br>
                                        <label><h4 style="color:#ff6600 "><font face="Bookman">Address:</font></h4></label><br>

                                        <button class="button search_button1"><a href="http://www.pchotels.com/pclahore/">View Deal</a></button>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <section class="site-section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-4">
                    <div class="heading-wrap  element-animate">
                        <h2 class="heading" id="story">Our Story</h2>
                        <p class="">
                            Our website provides the best compairing experience of hotels. It is a plateform from where travelors
                            and homies can get better experience
                        </p>

                        <p>Saves time, save money.</p>
                        <p>Users can access it anywhere in this world and make it most handy tool.</p>



                    </div>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-7">
                    <img src="~/assets/images/f_img_1.png" alt="Image placeholder" class="img-md-fluid">
                </div>
            </div>
        </div>
    </section>
    <!-- END section -->





    <section class="site-section bg-light">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-12 heading-wrap text-center">

                    <h2 class="heading">Explore With Us!</h2>
                </div>
            </div>
            <div class="row ">
                <div class="col-md-4">
                    <div class="post-entry">
                        <img src="~/assets/images/lg.jpg" alt="Image placeholder" class="img-fluid">

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="post-entry">
                        <img src="~/assets/images/bedroom.jpg" alt="Image placeholder" class="img-fluid">

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="post-entry">
                        <img src="~/assets/images/Swimingpool.jpg" alt="Image placeholder" class="img-fluid">

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END section -->

    <section class="section-cover" data-stellar-background-ratio="0.5" style="background-image: url('http://localhost:50617/assets/images/img_5.jpg');">
        <div class="container">
            <div class="row justify-content-center align-items-center intro">
                <div class="col-md-9 text-center element-animate">
                    <h2>Relax and Enjoy your Holiday</h2>


                </div>
            </div>
        </div>
    </section>
    <!-- END section -->

    <footer class="site-footer">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-4">

                </div>
                <div class="col-md-4">
                    <h3>CONNECT WITH US</h3>
                    <p>We are socialized. Follow us</p>
                    <p>
                        <a href="https://web.facebook.com/tooba.naseer.37" target=_blank class="pl-0 p-3"><span class="fa fa-facebook"></span></a>
                        <a href="#" class="p-3"><span class="fa fa-twitter"></span></a>
                        <a href="https://www.instagram.com/stories/being_safina/" target=_blank class="p-3"><span class="fa fa-instagram"></span></a>
                    </p>
                </div>
                <div class="col-md-4">

                </div>

                </form>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-7 text-center">
                &copy; <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;
                <script>document.write(new Date().getFullYear());</script> All rights reserved
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </div>
        </div>
        </div>
    </footer>
    <!-- END footer -->
    <!-- loader -->
    <div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#f4b214" /></svg></div>



    <!--   Core JS Files   -->
    <script src="~/js/jquery-3.2.1.min.js"></script>
    <script src="~/styles/bootstrap4/popper.js"></script>
    <script src="~/styles/bootstrap4/bootstrap.min.js"></script>
    <script src="~/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
    <script src="~/plugins/easing/easing.js"></script>
    <script src="~/js/custom.js"></script>







    <script src="~/assets/js/jquery-3.2.1.1.min.js"></script>
    <script src="~/assets/js/jquery-migrate-3.0.0.js"></script>
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/owl.carousel.min.js"></script>
    <script src="~/assets/js/jquery.waypoints.min.js"></script>
    <script src="~/assets/js/jquery.stellar.min.js"></script>

    <script src="~/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="~/assets/js/magnific-popup-options.js"></script>

    <script src="~/assets/js/main.js"></script>
</body>
</html>